.add-member-container {
    -fx-background-color: #262F39;
    -fx-padding: 20px;
    -fx-spacing: 32px;
}


.add-member-title {
    -fx-font-family: "Inter";
    -fx-text-fill: #FCA311;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-padding: 49 0 18 0;
    -fx-alignment: center;
}

.add-member-title1 {
    -fx-font-family: "Inter";
    -fx-text-fill: White;
    -fx-font-size: 18px;
    -fx-padding: 49 0 18 0;
    -fx-alignment: center;
}

.add-member-title2 {
    -fx-font-family: "Inter";
    -fx-text-fill: White;
    -fx-font-size: 18px;
    -fx-padding: 49 0 18 0;
    -fx-alignment: center;
}

.add-member-title3 {
    -fx-font-family: "Inter";
    -fx-text-fill: White;
    -fx-font-size: 18px;
    -fx-padding: 49 0 18 0;
    -fx-alignment: center;
}

.add-member-title4 {
    -fx-font-family: "Inter";
    -fx-text-fill: White;
    -fx-font-size: 18px;
    -fx-padding: 49 0 18 0;
    -fx-alignment: center;
}

.add-member-title5 {
    -fx-font-family: "Inter";
    -fx-text-fill: White;
    -fx-font-size: 18px;
    -fx-padding: 49 0 18 0;
    -fx-alignment: center;
}

.add-member-title6 {
    -fx-font-family: "Inter";
    -fx-text-fill: White;
    -fx-font-size: 18px;
    -fx-padding: 49 0 18 0;
    -fx-alignment: center;
}


.program-title {
    -fx-font-family: "Inter";
    -fx-text-fill: #FCA311;
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-padding: 49 0 20 0;
}

