.add-member-container {
    -fx-background-color: #262F39;
    -fx-padding: 20px;
    -fx-spacing: 32px;
}

.add-member-title {
    -fx-text-fill: #F2F3F5;
    -fx-font-size: 32px;
    -fx-font-weight: 700;
    -fx-padding: 0 0 0 16;
}