#checkout-panel-container {
    -fx-padding: 20px;
    -fx-background-color: #3D444D;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
}

#checkout-panel-input-fields {
    -fx-spacing: 20px;
}

#plus-label {
    -fx-text-fill: #F2F3F5;
    -fx-font-family: "Poppins";
}

#plus-button {
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-background-color: #565B61;
    -fx-background-insets: 0;
}

#plus-button:hover {
    -fx-cursor: HAND;
}

#customer-text-field {
    -fx-background-color: #565B61;
    -fx-text-fill: #F2F3F5;
    -fx-prompt-text-fill: #898D91;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-family: "Poppins";
}

#button-and-text-field-container {
    -fx-spacing: 10;
}

#customer-dropdown {
    -fx-background-color: #565B61;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

#customer-dropdown .combo-box-popup .list-view .list-cell:selected {
    -fx-text-fill: #F2F3F5; /* selected text color */
}

#customer-dropdown .list-cell {
    -fx-background-color: #565B61;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-text-fill: #F2F3F5;
}

#customer-dropdown .combo-box-popup .list-view .list-cell {
    -fx-text-fill: #F2F3F5;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

#customer-dropdown .combo-box-popup .list-view .list-cell:hover {
    -fx-cursor: HAND;
    -fx-background-color: #6D7278;
}

#customer-dropdown .combo-box-popup .list-view .list-cell:armed {
    -fx-background-color: #44484F;
}

#customer-dropdown .arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-radius: 0 8px 8px 0;
    -fx-background-radius: 0 8px 8px 0;
}

#customer-dropdown .arrow-button:hover {
    -fx-cursor: HAND;
}

#customer-dropdown .arrow {
    -fx-background-color: #E0E1DD;
}

#items {
    -fx-background-color: #3D444D;
    -fx-spacing: 10px;
}

#items > * {
    -fx-border-color: #3D444D;
}

#rounded-rectangle {
    -fx-background-color: #FCA311;
    -fx-background-insets: 0;
    -fx-border-radius: 8px 0 0 8px;
    -fx-background-radius: 8px 0 0 8px;
    -fx-pref-height: 60px;
}

#item-name-label {
    -fx-text-fill: #F2F3F5;
    -fx-font-family: "Poppins";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#item-price-label {
    -fx-text-fill: #F2F3F5;
    -fx-font-family: "Poppins";
    -fx-font-size: 10px;
}

#item-description {
    -fx-background-color: #565B61;
}

#item-description-container {
    -fx-background-color: #565B61;
    -fx-padding: 0 0 0 10px;
}

#quantity-spinner-container {
    /*-fx-background-color: #565B61;*/
    -fx-background-color: transparent;
    -fx-border-radius: 0 8px 8px 0;
    -fx-background-radius: 0 8px 8px 0;
}

#item-container {
    /*-fx-background-color: #565B61;*/
    -fx-background-color: transparent;
    -fx-border-radius: 8px 8px 8px 8px;
    -fx-background-radius: 8px 8px 8px 8px;
}

/* Item Scroll Pane */
#item-scroll-pane {
    -fx-background-color: #3D444D;
}

/* When the scroll pane does not contain any items,
   the white background of viewport shows up.
   This styling is useful for when the item scroll pane
   does not contain anything. */
#item-scroll-pane .viewport {
    -fx-background-color: #3D444D;
}

/* Quantity Spinner */
#quantity-spinner {
    -fx-background-color: #565B61;
    -fx-background-insets: 0;
    -fx-pref-width: 52px;
    -fx-pref-height: 60px;
    -fx-border-radius: 0 8px 8px 0;
    -fx-background-radius: 0 8px 8px 0;;
}

#quantity-spinner .text-field {
    -fx-background-color: #565B61;
    -fx-text-fill: #F2F3F5;
    -fx-font-family: "Poppins";
}

#quantity-spinner .increment-arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-radius: 0 8px 8px 0;
    -fx-background-radius: 0 8px 8px 0;
}

#quantity-spinner .increment-arrow-button:hover {
    -fx-cursor: HAND;
}

#quantity-spinner .decrement-arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-radius: 0 8px 8px 0;
    -fx-background-radius: 0 8px 8px 0;
}

#quantity-spinner .decrement-arrow-button:hover {
    -fx-cursor: HAND;
}

#quantity-spinner .increment-arrow, #quantity-spinner .decrement-arrow {
    -fx-background-color: #E0E1DD;
}

/* Vertical scrollbar */
.scroll-bar {
    -fx-background-color: #3D444D;
    -fx-background-insets: 0;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.scroll-bar .thumb {
    -fx-background-color: #565B61;
}

.scroll-bar .increment-button {
    -fx-background-color: #3D444D;
}

.scroll-bar .decrement-button {
    -fx-background-color: #3D444D;
}

#discount-label {
    -fx-text-fill: #F2F3F5;
    -fx-font-family: "Poppins";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#discount-amount {
    -fx-text-fill: #F2F3F5;
    -fx-font-family: "Poppins";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#checkout-button {
    -fx-background-color: #FCA311;
    -fx-background-insets: 0;
    -fx-text-fill: #202225;
    -fx-font-family: "Poppins";
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-size: 14px;
}

#checkout-button:hover {
    -fx-cursor: HAND;
}