.program-title {
    -fx-font-family: "Inter";
    -fx-text-fill: #FCA311;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-padding: 49 0 18 0;
}

.buttons-box {
    -fx-padding: 0 0 0 14;
}

.unselected-nav-button {
    -fx-alignment: center-left;
    -fx-background-color: #1C2A39;
    -fx-background-radius: 8;
    -fx-font-family: "Poppins";
    -fx-font-size: 20px;
    -fx-graphic-text-gap: 10px;
    -fx-min-height: 40px;
    -fx-min-width: 258px;
    -fx-padding: 10 0 10 14;
    -fx-text-fill: #F2F3F5;
}

.unselected-nav-button:hover {
    -fx-background-color: derive(#1c2a39, -10%);
}

.selected-nav-button {
    -fx-alignment: center-left;
    -fx-background-color: #FCA311;
    -fx-background-radius: 8;
    -fx-font-family: "Poppins";
    -fx-font-size: 20px;
    -fx-graphic-text-gap: 10px;
    -fx-min-height: 40px;
    -fx-min-width: 258px;
    -fx-padding: 10 0 10 14;
    -fx-text-fill: #202225;
}